:root {
    --black: #ffffff;
    --white: #292827;
    --neutralLight: #201f1e;
    --themeDarker: #ffffff;
}

a {
    color: var(--black) !important;
}

span.current {
    color: var(--black) !important;
}
